.btnLeft,
.btnRight {
  border-radius: 46px;
  cursor: pointer;
}

.pagination {
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
}

.pageNumber {
  background-color: lightgrey;
  min-width: 33px;
  min-height: 35px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.pageNumber_active {
  min-width: 33px;
  min-height: 35px;
  display: flex;
  justify-content: center;

  align-content: center;
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
}

/* Mobile navPageButtons style */
.navPageArticlesGrid {
  display: flex;
  gap: 16px;
  height: 50px;
  justify-content: center;
  padding: 30px 0 76px;
}

/* Desktop navPageButtons style */
@media only screen and (min-width: 769px) {
  .navPageArticlesGrid {
    padding: 130px 0 138px;
  }
}
/* End of navPageButtons style */
