/*MOBILE FIRST APPROACH DEFAULT*/
.headerAllArticles {
  position: relative;
  padding: 60px 0;
  color: white;
  display: grid;
  gap: 36px;
}

/* Desktop header style */
@media only screen and (min-width: 769px) {
  .headerAllArticles {
    padding: 100px 60px 40px;
  }
}
/* End of header style */

/* Mobile bodyAllArticles style */
.bodyAllArticles {
  font-family: Gotham;
  font-weight: 400;
  z-index: 5;
  background-color: white;
  color: black;
}

.bodyAllArticles_contentWrapper {
  padding: 0px 60px 40px;
}

.bodyAllArticles_Title {
  display: none;
}

.articlesCardsGrid {
  box-sizing: border-box;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

/* Desktop bodyAllArticles style */
@media only screen and (min-width: 769px) {
  .bodyAllArticles_Title {
    display: block;
    line-height: 60px;
    font-weight: 600;
    padding-top: 80px;
  }

  .bodyAllArticles_CardsWrapper {
    max-width: 1470px;
    margin: 0 auto;
    padding: 30px 45px 0px;
  }
}
/* End of bodyAllArticles style */
